*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: black;
  cursor: grab;
  user-select: none;
  overflow: hidden;
}

body.dragging {
  cursor: grabbing;
}

#gallery {
  position: relative;
  width: 100vw;
  height: 100svh;
}